header {
  display: flex;
  align-items: center;
  background-color: lightseagreen;
  padding: 0 1rem;
}

nav {
  flex: 1;
}

nav ul {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style-type: none;
}